

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

h1 {
  position: relative;
  color: #20871B;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
h1:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2{
  text-align: center;
}

.parts{
margin :3em;
text-align: center;

}
button {
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  color: #ffffff;
  border-radius: 25px;
  background-color: #20871B;
  border: none;
  cursor: pointer;
  margin: 20px;

}
.button{
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  color: #ffffff;
  border-radius: 25px;
  background-color: #20871B;
  border: none;
  cursor: pointer;
  margin: 20px;

}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

table tr {
  background-color: #e6f2f5;
  padding: .35em;
  border-bottom: 2px solid #fff;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 2px solid #fff;
}
table th {
  font-size: .85em;
}
table thead tr{
  background-color: #1B5687;
  color:#fff;
}
table tbody th {
    background: #1B5687;
    color: #fff;

}
.txt{
   text-align: center;
   font-size: .85em;
}
.txt input{
  width: 80%;
}
.txt select{
  width: 80%;
}

.price{
  text-align: right;
  color: #167F92;
  font-weight: bold;
}
.non{
  background:#fff
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
    width:100%
  }
  table th{
    background-color:#1B5687;
    display: block;
    border-right: none;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }
  
  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #167F92;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table tbody th {
    color: #fff;
}
}

  table a:link {color:#ffffff;} 
  table a:visited {color:#00ccff;} 
  table a:hover {color:#ffffff; background:#0000cc;} 
  table a:active {color:#ffff00;}

  ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }
    ul li{
    display: table-cell;
    min-width: 50px;
    border: 1px solid #ccc;
    }
    ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    }
    ul li.current{
    background-color: #DEEBF7;
    }
    ul li.current a{
    color: #555;
    }
    ul li:hover{
    background-color: #FFF2CC;
    }
    
.footer {
  text-align: center;
  font: 9px "Arial";
  background-color:#1B5687;
  color:#fff;
  margin-top: 20px;
  padding: 10px;
  }